--extra-index-url https://download.pytorch.org/whl/cu130
torch
torchvision
xformers
imageio
Pillow
imageio-ffmpeg
omegaconf
einops 
transformers
torchmetrics
datasets
rich
wandb
opencv-python
opencv-python-headless
ipdb
tqdm
easydict
lpips
jaxtyping
scikit-image
numpy
matplotlib
